.fa{
    &-html5{
        color: #fc490b;
    }

    &-css3-alt{
        color: #13a1df;
    }

    &-sass{
        color: #cd6799;
    }

    &-bootstrap{
        color: #7211f6;
    }

    &-git-alt{
        color: #f05033;
    }

    &-github{
        color: #0e1118;
    }

    &-js{
        color: #f7df1e;
    }

    &-vuejs{
        color: #41b883;
    }
}